<nz-content>

  <div nz-row>
    <div nz-col nzSpan="12">
      <h2 align="center">Create Survey</h2>
      <form nz-form [formGroup]="surveyCreateForm" class="">

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" [nzXl]="6" nzRequired nzFor="surveyName">Template
            name</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzXl]="10" nzErrorTip="Survey name required" nzHasFeedback>
            <input id="surveyName" type="text" nz-input formControlName="surveyName" placeholder="Survey name"
              required />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" [nzXl]="6" nzFor="message" nzRequired>
            <span>
              Message
              <!-- <i nz-icon nzType="question-circle"></i> -->
            </span>
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzXl]="10">
            <textarea id="message" nz-input formControlName="message" placeholder="Message"
              [nzAutosize]="{ minRows: 4, maxRows: 12 }"></textarea>
          </nz-form-control>
          <!-- <nz-form-control [nzSm]="14" [nzXs]="24" [nzXl]="10"
            nzExtra="{{120 - surveyCreateForm.value.message.length}} characters left.">
            <textarea id="message" nz-input formControlName="message" placeholder="Message"
              [nzAutosize]="{ minRows: 4, maxRows: 12 }" maxlength="120"></textarea>
          </nz-form-control> -->
        </nz-form-item>

      </form>
    </div>
    <span class="clearfix"></span>
    <br><br>

    <div nz-row>
      <div nz-col>
        <h3>Survey form</h3>
        <div #formBuilder></div>
      </div>
    </div>

    <br><br>

    <div nz-row>
      <div nz-col nzSpan="12" nzOffset="1">
        <button nz-button class="login-form-button" [nzType]="'primary'" (click)="addActiveSurveyToStore()"
          [disabled]="!surveyCreateForm.valid">Choose
          Audience</button>
      </div>

    </div>

  </div>

</nz-content>