<nz-layout class="h-100pt">
  <nz-header class="mb-10">
    <app-header></app-header>
  </nz-header>
  <nz-content>
    <div class="pos-rel">
      <h2 *ngIf="isEditable" class="pull-left">
        Select Audience - <span>{{ numberOfChecked }} selected</span>
      </h2>
      <button
        *ngIf="!isEditable"
        nz-button
        nzType="primary"
        routerLink="/audience/create"
        class="mb-15 pull-right"
      >
        <i nz-icon nzType="plus"></i>Add audience
      </button>
      <div class="clearfix"></div>
    </div>

    <div class="inner-content">
      <nz-table
        #filterTable
        [nzData]="listOfDisplayAudience$ | async"
        [nzLoading]="isListLoading$ | async"
        nzShowPagination
        nzShowSizeChanger
      >
        <thead>
          <tr>
            <th
              *ngIf="isEditable"
              nzShowCheckbox
              [(nzChecked)]="isAllDisplayDataChecked"
              (nzCheckedChange)="checkAll($event)"
              [nzIndeterminate]="isIndeterminate"
            ></th>
            <th>
              Name
            </th>
            <th>Source</th>
            <th>
              Email
            </th>
            <th *ngIf="!isEditable">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let data of filterTable.data | sortBy: 'desc':'updatedAt'"
          >
            <td
              *ngIf="isEditable"
              nzShowCheckbox
              [(nzChecked)]="mapOfCheckedId[data._id]"
              (nzCheckedChange)="refreshStatus()"
            ></td>
            <td>{{ data.firstName }}</td>
            <td>{{ data.source }}</td>
            <td>{{ data.email }}</td>
            <td *ngIf="!isEditable">
              <a (click)="editAudience(data._id)">Edit</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a (click)="deleteAudience(data._id)">Delete</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <div *ngIf="isEditable" nz-row>
      <div nz-col nzSpan="8">
        <br /><br />
        <button
          (click)="addAudienceToCampaign()"
          [disabled]="numberOfChecked == 0"
          nz-button
          class="login-form-button"
          [nzType]="'primary'"
        >
          Save and Start Campaign
        </button>
        <!-- <button (click)="submitAndSelectAudience(templateEditForm.value)" [disabled]="!templateEditForm.valid" nz-button
          class="login-form-button" [nzType]="'primary'">Save Campaign and Select Audience</button> -->
      </div>
    </div>
  </nz-content>

  <!-- <nz-footer>Footer</nz-footer> -->
</nz-layout>
