<nz-layout class="h-100pt">
  <nz-header class="mb-10">
    <app-header></app-header>
  </nz-header>
  <nz-content>
    <div class="pos-rel">
      <h2 *ngIf="isEditable" class="pull-left">
        Select Audience - <span>{{ numberOfChecked }} selected</span>
      </h2>
      <button *ngIf="!isEditable" nz-button nzType="primary" routerLink="/audience/create" class="mb-15 pull-right">
        <i nz-icon nzType="plus"></i>Add audience
      </button>
      <div class="clearfix"></div>
    </div>

    <div class="inner-content">
      <nz-tabset>
        <nz-tab [nzTitle]="'Customer'">
          <app-audience-list [audienceList]="listOfDisplayAudience$ | async | filter: 'type':'customer'"
            [isListLoading$]="isListLoading$" [isEditable]="isEditable" [mapOfCheckedId]="mapOfCheckedId"
            [refreshStatus]="refreshStatus" (editAudience)="editAudience($event)"
            (deleteAudience)="deleteAudience($event)">
          </app-audience-list>
        </nz-tab>
        <nz-tab [nzTitle]="'Non Customer'">
          <app-audience-list [audienceList]="listOfDisplayAudience$ | async | filter: 'type':'nonCustomer'"
            [isListLoading$]="isListLoading$" [isEditable]="isEditable" [mapOfCheckedId]="mapOfCheckedId"
            [refreshStatus]="refreshStatus" (editAudience)="editAudience($event)"
            (deleteAudience)="deleteAudience($event)">
          </app-audience-list>
        </nz-tab>
      </nz-tabset>

    </div>
    <div *ngIf="isEditable" nz-row>
      <div nz-col nzSpan="8">
        <br /><br />
        <button (click)="addAudienceToCampaign()" [disabled]="numberOfChecked == 0" nz-button class="login-form-button"
          [nzType]="'primary'">
          Save and Start Campaign
        </button>
        <!-- <button (click)="submitAndSelectAudience(templateEditForm.value)" [disabled]="!templateEditForm.valid" nz-button
          class="login-form-button" [nzType]="'primary'">Save Campaign and Select Audience</button> -->
      </div>
    </div>
  </nz-content>

  <!-- <nz-footer>Footer</nz-footer> -->
</nz-layout>
