<nz-layout class="h-100pt">
  <nz-header class="mb-10">
    <app-header></app-header>
  </nz-header>
  <nz-content>
    <h3>Choose template</h3>
    <div nz-row [nzGutter]="8">
      <div nz-col [nzSpan]="4" class="mb-10" *ngFor="let template of templates"
        (click)="selectTemplate(null, template.name, template.templateId)">
        <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
          <nz-card-meta nzTitle={{template.name}}></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
          <img alt="{{template.name}}" src="/assets/templates/email/{{template.name}}.JPG" />
        </ng-template>
      </div>
    </div>

  </nz-content>
  <!-- <nz-footer>Footer</nz-footer> -->
</nz-layout>
