// Flex
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-direction-column {
  flex-direction: column;
}

// flex ---------- 


.bg-white {
  background-color: white;
}

// Brand colors ---------------

.display-block {
  display: block;
}

.w-100pt {
  width: 100%;
}

.h-100pt {
  height: 100%;
}

.h-100vh {
  height: 100vh;
}

.h-600 {
  height: 600px;
}

.mb-10 {
  margin-bottom: 10px;
}

.p-15 {
  padding: 15px;
}

.pt-45 {
  padding-top: 45px;
}

// Colors ------------
.text-white {
  color: #fff;
}

// positions ---------------
.pos-rel {
  position: relative;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

// accessibility ----------------
.disable-with-feedback {
  opacity: .4;
  pointer-events: none;
}

.link-text {
  text-decoration: underline;
  cursor: pointer;
}
