// Flex
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-direction-column {
  flex-direction: column;
}

// flex ---------- 

// Brand colors---
.facebook-bg {
  background-color: #3C5A99;
}

.google-bg {
  background-color: #DB4437;
}

// Brand colors ---------------

.display-block {
  display: block;
}

.w-100pt {
  width: 100%;
}

.h-100pt {
  height: 100%;
}

// Colors ------------
.text-white {
  color: #fff;
}

// positions ---------------
.pos-rel {
  position: relative;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.pull-right {
  float: right;
}
