// Flex
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-direction-column {
  flex-direction: column;
}

// flex ---------- 


.display-block {
  display: block;
}

.w-100pt {
  width: 100%;
}

.h-100pt {
  height: 100%;
}
