<nz-layout>
  <nz-header class="mb-10">
    <app-header></app-header>
  </nz-header>
  <nz-content>

    <div nz-row>
      <div nz-col nzSpan="12">
        <h2 align="center">Template editor</h2>
        <form nz-form [formGroup]="templateEditForm" class="">

          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" [nzXl]="6" nzRequired nzFor="templateName">Template
              name</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" [nzXl]="10" nzErrorTip="Template name required" nzHasFeedback>
              <input type="text" nz-input formControlName="templateName" placeholder="Template name" required />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" [nzXl]="6">Primary text
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" [nzXl]="10">
              <textarea nz-input formControlName="primaryText" placeholder="Primary text"
                [nzAutosize]="{ minRows: 4, maxRows: 12 }"></textarea>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" [nzXl]="6">Secondary text
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" [nzXl]="10">
              <textarea nz-input formControlName="secondaryText" placeholder="Secondary text"
                [nzAutosize]="{ minRows: 4, maxRows: 12 }"></textarea>
            </nz-form-control>
          </nz-form-item>

        </form>
      </div>
      <div nz-col nzSpan="12" class="h-600">
        <iframe id="templatePreview" #templateIframe src="" frameborder="0" class="w-100pt h-100pt"></iframe>
      </div>
    </div>
    <br><br>
    <div>
      <h2>Select Audience - <span>{{ numberOfChecked }} selected</span></h2>
      <nz-table #filterTable [nzData]="listOfDisplayAudience$ | async" [nzLoading]="isListLoading$ | async"
        [nzShowPagination]="false" class="bg-white">
        <thead>
          <tr>
            <th nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked" (nzCheckedChange)="checkAll($event)"
              [nzIndeterminate]="isIndeterminate"></th>
            <th>
              Name
            </th>
            <th>Phone</th>
            <th>
              Email
            </th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of filterTable.data">
            <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data._id]" (nzCheckedChange)="refreshStatus()"></td>
            <td>{{ data.name }}</td>
            <td>{{ data.phone }}</td>
            <td>{{ data.email }}</td>

          </tr>
        </tbody>
      </nz-table>
    </div>

  </nz-content>
  <br><br>
  <div nz-row>
    <div nz-col nzSpan="8" nzOffset="1">
      <button (click)="submitTemplate(templateEditForm.value)" [disabled]="!templateEditForm.valid" nz-button
        class="login-form-button" [nzType]="'primary'">Save Campaign</button>
      <button (click)="submitAndStartCampaign(templateEditForm.value)" [disabled]="!templateEditForm.valid" nz-button
        class="login-form-button" [nzType]="'primary'">Save and Start Campaign</button>
    </div>

  </div>
  <br><br>
</nz-layout>
